<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>
<body>
    <h1>Edit</h1>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
        <section>
            <label for="src">Edit src:</label><br>
            <textarea name="src" id="src" cols="20" rows="3" placeholder="src"></textarea>
        </section>
        <section>
            <label for="caption">Edit caption:</label><br>
            <textarea name="caption" id="caption" cols="20" rows="3" placeholder="caption"></textarea>
        </section>
        <button>Save</button>
    </form>
</body>
</html>