<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="public/css/bootstrap.min.css">
    <script src="public/js/jquery.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Posts</h1><hr>
    <% for(let post of posts) { %>
        <h2>Username - <%=post.username%></h2>
        <img src="<%= post.src %>" alt="">
        <h2>Caption - <%=post.caption%></h2>
        <button><a href="/posts/<%=post.id%>">Details</a></button>
        <hr>
    <% } %>

    <button>
        <a href="/posts/new">New Post</a>
    </button>
</body>
</html>