<%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>

    <h1>The Home Page <%= 4 + 5 - 8 %> <%= 'HELLO WORLD!!'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis dolorem et quibusdam dignissimos maiores excepturi asperiores ut harum voluptas corporis! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis, itaque? Dolores, quaerat omnis reprehenderit ipsum dolorem nam vel temporibus atque?</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis dolorem et quibusdam dignissimos maiores excepturi asperiores ut harum voluptas corporis!</p>


</body>
</html>